.passtable{
    width: 100%;
    table-layout: auto;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 20px;
}
.tcolumn{
    text-align: center;
    height: 30px;
    position: relative;
    
}
.theading{
    background-color: #48bfe3;
    color: white;
    height: 30px;
}
.tbody{
    background-color: #56cfe191;
    height: auto;
}
.allpasstablecontainer{
    width: 80%;
    margin-top: -18px;
}
#yourpasshead{
    font-size: large;
    font-weight: bold;
    color: #1f6669;
}
#passEmpty{
    font-weight: bold;
    text-align: center;
    font-size: x-large;
    margin-top: 60px;
    color: #1f6669;
}
.copyicon{
    height: 50%;
    position: absolute;
    top: 8px;
    margin-left: 20px;
    cursor: pointer;
}
.actionicon{
    height: 50%;
    margin-left: 10px;
    margin-right:10px;
    cursor: pointer;
}
.showtable{
    height: 50px;
    font-weight: bold;
    color: #1f6669;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgb(93 217 255);
    padding-left: 20px;
    width: 200px;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 0.3s;
}
.showtable:hover{
    background-color: rgb(152, 231, 255);
    transition: 0.3s;
}
.showpasstable{
    height: 40px;
    position: absolute;
    top: 6px;
}